RewriteEngine On

RewriteBase /SweetHouse/views

RewriteBase /eleves/SweetHouse/views

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]
#RewriteCond %{HTTP_HOST} ^(www.)?sweethouse.co.at$
#RewriteRule ^(/)?$ index.php [L]

