h1{
    font-family: Lato, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 4em;
    text-align: center;
}

h2{
    font-family: Lato, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 3em;
    text-align: center;
    margin-top: 5%;
}

h3 {
    font-family: Lato, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-align: center;
}


.button {
    background-color: #216583;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Lato, Helvetica, sans-serif;
    font-weight: lighter;
}

form {
    margin: 75px auto;
    width: 900px;
    border-radius: 1em;
    border : 2px solid black;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    background-color: #65c0ba;
    padding: 20px;
}


label {
    width: 200px;
    text-align: right;
    margin-left: 15px;
}



textarea {
    box-sizing: border-box;
    border : 1px solid #999;
    margin: 10px;
    padding: 6px;
    vertical-align: top;
    height: 15em;
    width: 75%;

}

input:focus, textarea:focus {
    border-color: #216583;
}

.id_client{
    padding-top: 5px;
    padding-bottom: 2px;
    margin-left: 15px;
}

.email{
    padding-top: 5px;
    padding-bottom: 2px;
    margin-left: 15px;
}

.boutton{
    text-align: center;

}

.case{
    padding: 4px;
    margin-top: 10px;
}

.norm{
    width: 300px;
    box-sizing: border-box;
    border : 1px solid #999;
    margin: 10px;
    padding: 6px;
}

td,th  {
    border: 2px solid #216583;
    width: 25%;
    font-size: 0.8em;
}

table{
    border-collapse: collapse;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-left: 1%;
    table-layout: fixed;
    margin-right: 1%;


}

.commentaire{
    border: 2px solid #f76262 ;
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 50%;
    padding: 8px;
    font-family: Lato, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 0.95em;
    margin-top: 2%;
}

.reponse_administrateur{
    border: 2px solid #65c0ba ;
    border-radius: 5px;
    margin-left: 51%;
    margin-right: 1%;
    padding: 8px;
    font-family: Lato, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 0.95em;

}

.titre1{
    font-family: Lato, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    padding-bottom: 3px;
}

hr{
    color : black;
    background-color: black;
    border-color: black;
    height: 1px;
    margin-left: 5%;
    margin-right: 5%;
}




