#tabs {
  overflow: hidden;
  border: 2px solid black;
  background-color: #216583;
  margin: 0;
  padding: 0;
  list-style: none;

}

#tabs a:hover {

    background: #cffdf8;
    transition-duration: 0.4s;
}
/* Style the buttons inside the tab */


/* Change background color of buttons on hover */
#tabs li {
  float: left;
  margin: 1px;
}

/* Create an active/current tablink class */
#tabs a {
    position: relative;
    background-image: linear-gradient(to bottom, #65c0ba, #cffdf8); 
    padding:7px 15px;
    float: left;
    color: #444;
}
#smoke{
    height: 8vh;
    width: 8vw ;
    top:auto;
}


#humidity{
    height: 8vh;
    width: 8vw;
    top: 60px;
}


#security{
    height: 8vh;
    width: 8vw;
    top: 60px;
}

#lumen{

    height: 8vh;
    width: 8vw;
    top: 60px;
}

#temperature{

    height: 8vh;
    width: 8vw;
    top: 60px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

