body {
    font-family: "Lato", sans-serif;
    background-color: #cffdf8;

    font-weight: normal;
    font-style:normal;
    background-size :cover;
    cursor:auto;
    padding: 0;
    margin:0;

}
.active {
    background-color: #D3D3D3;
}
.notification{
    margin: 10px 0px;
    padding:12px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.notification_error{
    color: #D8000C;
    background-color: #FFD2D2;
}
.notification_success{
    color: #4F8A10;
    background-color: #DFF2BF;
}
#validate-button{
    margin:0 auto;
    display:block;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 9px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;

}
.switch1 {

    position: absolute;
    top: 0%;
    display: inline-block;
    width: 60px;
    height: 33px;
    margin-top: 20%;
    margin-left:  45%;

}
.switch1 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch2 {
    position: absolute;
    top: 0%;
    display: inline-block;
    width: 60px;
    height: 33px;
    margin-top: 24%;
    margin-left:  45%;

}
.switch2 input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch3 {
    position: absolute;
    top: 0%;
    display: inline-block;
    width: 60px;
    height: 33px;
    margin-top: 28%;
    margin-left:  45%;

}
.switch3 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch4 {
    position: absolute;
    top: 0%;
    display: inline-block;
    width: 60px;
    height: 33px;
    margin-top: 32%;
    margin-left:  45%;

}
.switch4 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch5 {
    position: absolute;
    top: 0%;
    display: inline-block;
    width: 60px;
    height: 33px;
    margin-top: 38%;
    margin-left:  45%;

}
.switch5 input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#tabs {
  overflow: hidden;
  border: 2px solid black;
  background-color: #216583;
  margin: 0;
  padding: 0;
  list-style: none;

}

#tabs a:hover {

    background: #cffdf8;
    transition-duration: 0.4s;
  }
/* Style the buttons inside the tab */


/* Change background color of buttons on hover */
#tabs li {
  float: left;
  margin: 1px;
}

/* Create an active/current tablink class */
#tabs a {
    position: relative;
    background-image: linear-gradient(to bottom, #65c0ba, #cffdf8); 
    padding:7px 15px;
    float: left;
    color: #444;
}

.main {
    text-decoration-color: #C0C0C0;
    background-color: #65c0ba;
    top: 5%;
    left: 20%;
    font-size: 30px;
    padding: 18px 35px;
}

h2 {
    text-align: left;

}

h4 {
    text-align: center;
    bottom : 100px;
    color: #f76262;
}



#smoke{
    height: 8vh;
    width: 8vw;
    top:60px;
}


#humidity{
    height: 8vh;
    width: 8vw;
    top: 60px;
}


#security{
    height: 8vh;
    width: 8vw;
    top: 60px;

}

#lumen{

    height: 8vh;
    width: 8vw;
    top: 60px;
}

#temperature{

    height: 8vh;
    width: 8vw;
    top: 60px;
}
